extends layout

block content
  .container
      .row
          .col-sm-6
            h2 Beijing Jiaotong University
            h3 2005 - 2009, B.E. Computer Science
            .story
              img.img-responsive(src='/images/college2.jpg', alt='graduation at BJTU')
              p
                | I attended Beijing Jiaotong University in 2005 where I studied Computer Science for my Bachelor's Degree.
            .story
              img.img-responsive(src='/images/ee1.jpg', alt='ee')
              p
                | In college I first got interested in embedded systems. I led a team making this FPGA encryption board and won a national award.
            .story
              img.img-responsive(src='/images/Steve_Jobs_presents_iPhone.jpg', alt='By Blake Patterson (originally posted to Flickr as Img0061) [CC-BY-2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons')
              p
                | Then I witnessed the invention of iPhone and immediately became facinated with HCI.
            .story
              img.img-responsive(src='/images/game1.png', alt='game1')
              p
                | With only one year left. I put all my bet in HCI for my graduation project.
                br
                | My idea was simple - to make a game blending virtual with reality, with just a webcam and a computer.
            .story
              iframe(width='480', height='360', src='//www.youtube.com/embed/g5ttA63mqSU', frameborder='0', allowfullscreen='allowfullscreen')
              p
                | The
                a(href='http://www.youtube.com/watch?v=g5ttA63mqSU#t=0') result
                | wasn't bad, considering it being my first hands-on experience with C#, XNA, OpenCV, Photoshop... from ideation to deployment in 8 months.
            .story
              img.img-responsive(src='/images/college1.jpg', alt='graduation at BJTU')
              p Then I happily graduated in 2009. 
            .story
              img.img-responsive(src='/images/Kinect1.jpg', alt='Kinect')
              p One year later, Microsoft released Kinect on Xbox. 
          .col-sm-6
            h2 University of Pittsburgh
            h3 2009 - 2010, M.S. Information Science
            .story
              img.img-responsive(src='/images/pitt1.jpg', alt='pitt')
              p
                | I got admitted into University of Pittsburgh to study for the M.S. of Information Science.
            .story
              img.img-responsive(src='/images/pitt2.jpg', alt='pitt')
              p I put my focus on two directions: (1) UI Prototyping, (2) User Experience Design
            .story
              img.img-responsive(src='/images/pitt3.jpg', alt='pitt')
              p I worked with Dr.Brusilovsky on his various information recomendation systems. 
            .story
              img.img-responsive(src='/images/pitt-sketch.jpg', alt='pitt')
              p
                | I used to do a lot of sketching before any development.
                i Think before build.
            .story
              img.img-responsive(src='/images/pitt-paper.jpg', alt='pitt')
              p
                | Also many paper prototyping. 
                i Build to think.
            .story
              img.img-responsive(src='/images/pitt-twinkle.jpg', alt='pitt')
              p
                | I learned web programming, Flex, WPF, PHP, MySQL and so many others and use them to mash up cool UX apps. Try
                a(href='../../~shz26/webapps/Flickr/twinkle.html') Flick Twinkle
                | ,
                a(href='../../~shz26/webapps/iv/IschoolFlex.html') Visualizing iSchool worldwide
            .story
              iframe(width='480', height='360', src='//www.youtube.com/embed/n9f_LP6P8VU', frameborder='0', allowfullscreen='allowfullscreen')
              p
                | In second year I collaborated with
                a(href='http://www.pitt.edu/~wej9/') Wei Jeng
                | at iSchool and created a dynamic kiosk system.
            div
