extends layout
block content
  .container.experience
    .row
        h2 Siemens Corporate Research
        h3.intro 2011 - 2012, Associate Engineer
        h3.intro 2012 - Present, Engineer, Project Lead
        p  
      .story.row
        .col-md-7
          p
            | At 
            a(href='http://www.usa.siemens.com/en/about_us/research/about_us.htm') Siemens 
            | I am doing even more exciting stuff than 
            a(href='/education') what I did at school 
            | . My responsibilities include:
          ul
            li
              | - Develop and test software prototypes that showcase innovative user interactions and UI concepts
            li - Implement and deliver code in support of customer product managers
            li - Lead prototyping activities and technology advancement within UX group
            li
              | - Lead design projects from requirements and design all the way to integration with development
            li - Support usability testing with wireframes and prototypes
            li
              | - Collaborate with a multi-disciplinary team including experts in cognitive psychology, interaction design, human factors engineering, and visual design
            li
              | - Coodinate intern recruiting and management in UX group.
              br 
              | -- 
              a(href='/contact') ask me 
              | about designer and developer internship here!
          p
            | I like to learn new technology as well as UX design and management knowledge. Tools and skills I regularly use at work include:
          p
            | jQuery, JavaScript, PHP, User Interface Design, Prototyping, CSS, Information Architecture, AJAX, Flex, ActionScript, HTML5, HTML, Web Applications, CSS3, WPF, C#, Flash Catalyst, SQL, Silverlight, Expression Blend, Dreamweaver, Illustrator, Visio, ClearCase, CoffeeScript, SVN, Information Visualization, Usability Testing, Project Management, bootstrap, Adobe Edge Code, d3.js
        .col-md-5
          img.img-responsive(src='/images/siemens2.jpg')
