extends layout

block content
  .container
    .jumbotron.s-home-jumbotron
        .s-banner
          .s-jumbotron-text
            h2 Hello, world!
            p I'm Shaopeng Zhang. 
            p
              | I am a UI developer,
              br
              | an interaction designer,
              br
              | and a UX project lead.
            p
              | I currently 
              a(href='/experience') work at Siemens Corporate Research 
              | on front end development and UX project management.
            p
              | Oh, I also love 
              a(href='/photography') Photography
              | .
            p
              a.btn.btn-primary.btn-lg(href='/contact', role='button') Contact me
          img.img-responsive.s-banner-img(src='/images/banner800.jpg', alt='Me standing in front of project wall at University of Pittsburgh, 2010. ')
          .s-cover.img-responsive

