doctype html
html
    head
        title= title
        meta(name='viewport', content='initial-scale = 1.0,maximum-scale = 1.0')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        include headernav
        block content
        include scripts