extends layout

block content
    .container.photography
      h2 Did I mention I love photography? (This page is a Flickr app)
      p.intro(data-snippet='When I was around 12 years old I was a member of my school\'s...')
        | When I was around 12 years old I was a member of my school's news team(a club of 6-7 students). My writing skills was so-so. So I found my place as the photo-taking boy. I had dad's Olympus point-and-shoot camera. I load films, I shoot, and I took them to the developing shop myself.
        br
        br
        | In 2011 I made my first load of money from doing internship at Siemens. I awarded myself a Nikon camera and started shooting again.
        br
        br
        | In two years I have shot around 20,000 photos. And only a few of them are memorable. 7 of my photos have been explored on Flickr. But I also have my favorites.
        br
        small.pull-right.clearfix All rights reserved.
        br
      .row
        .col-sm-4
        .col-sm-4
        .col-sm-4
